.DS_Store
abbrev_defs
ac-comphist.dat
*~
*.elc
._*
auto-save-list
elpa
eshell/history
eshell/lastdir
games
recentf
semanticdb
.nosearch
irony
ido.last
places
projectile.cache
projectile-bookmarks.eld
.python-environments/
network-security.data
